<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team02.prime.mapper.ReplyMapper">

    <select id="getReplyList" resultType="com.team02.prime.model.ReplyVO">

		SELECT reply_num, board_num, comment, reply_id, register_date,user_number
		FROM reply 
		WHERE board_num = #{board_num}
		ORDER BY register_date desc

	</select>

	<update id="updateReply" parameterType="com.team02.prime.model.ReplyVO">

		UPDATE reply SET comment = #{comment}, register_date = now()
		WHERE reply_num = #{reply_num} and reply_id = #{reply_id}

	</update>



    <insert id="saveReply" parameterType="com.team02.prime.model.ReplyVO">

		INSERT INTO reply(board_num, reply_num, comment, reply_id, register_date,user_number)

		VALUES ( #{board_num}, #{reply_num}, #{comment}, #{reply_id}, now(), (select user_number from user where #{reply_id} = user.id) )

	</insert>




    <delete id="deleteReply" >
-- 	파라미터 타입이 int,String 두개이고 ReplyVO로 가져오지 않을때는 parameter type 뭘로 해줘야하나?
		DELETE FROM reply
		WHERE reply_num = #{reply_num}

	</delete>
    

</mapper>